<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Compressor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Image Compressor</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="imageInput" class="file-input-label">Choose an image (PNG, JPEG, WebP, BMP)</label>
<input type="file" id="imageInput" accept="image/png, image/jpeg, image/webp, image/bmp" required>
            <input type="number" id="sizeInput" placeholder="Enter desired size (KB)" required>
            <button type="submit">Compress Image</button>
        </form>
        <img id="imagePreview" alt="Image Preview">
        <p id="result"></p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>